<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Por onde começo a investir?</title>

    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="metismenu-master/src/metisMenu.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="mm-vertical.css">
</head>
<body>
    <nav class="navbar navbar-default" style="margin-bottom: 0;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="principal.html" style="color: black;">
                    <i class="fa fa-money" aria-hidden="true"></i>Ergonomia
                </a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a href="principal.html" style="color: black;">
                        <i class="fa fa-home fa-2x"></i>
                    </a>
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
        </div><!-- /.container-fluid -->
    </nav>
    
    <ul class="metismenu col-lg-3" id="menu">
        <li>
          <a href="#" aria-expanded="false" class="panel panel-default nover">1 - Introdução<span class="glyphicon arrow"></span></a>
          <ul aria-expanded="false">
            <li><a href="conteudo.html" class="panel panel-default nohor">O que é ser indepenente financeiramente?<span id="ck1" style="float: right;" class="fa fa-circle-o"></span></a></li>
            <li><a href="conteudo2.html" class="panel panel-default nohor">Quem são os juros compostos<span id="ck2"  style="float: right;" class="fa fa-circle-o"></span></a></li>
          </ul>
        </li>
        <li class="active">
          <a href="#" aria-expanded="false" class="panel panel-default nover">2 - Quero enriquecer<span class="glyphicon arrow"></span></a>
          <ul aria-expanded="false">
            <li><a href="conteudo3.html" class="panel panel-default nohor">Por onde começo a investir?<span id="ck3"  style="float: right;" class="fa fa-circle"></span></a></li>
            <li><a href="conteudo4.html" class="panel panel-default nohor">As opções de investimentos (seguras e tranquilas)<span id="ck4"  style="float: right;" class="fa fa-circle-o"></span></a></li>
          </ul>
        </li>
        <li>
          <a href="conteudo5.html" aria-expanded="false" class="panel panel-default nover">3 - Lugares para investir, maneiras de se organizar<span id="ck5"  style="float: right;" class="fa fa-circle-o"></span></a>
        </li>
        <li>
          <a href="exercicios.html" aria-expanded="false" class="panel panel-default nover">4 - Exercícios<span id="ck6"  style="float: right;" class="fa fa-circle-o"></span></a>
        </li>
        <li>
          <a href="conclusão.html" aria-expanded="false" class="panel panel-default nover">5 - Conclusão</a>
        </li>
    </ul>
    
    <div id="page-wrapper">
    <div class="col-lg-9" style="text-align: center;">
        <div id="conteudo1" style="text-align: center; padding: 0 3% 0 3%;">
            <h1>Por onde começo a investir?</h1>
            <p style="text-align: justify;">Calma, calma!
            Depois de todas essas informações, imagino que você já quer saber onde guardar com carinho o seu dinheiro e deixar ele lá se multiplicando lindamente. 
            Mas, antes de sair investindo em qualquer lugar é importante estar atento a alguns detalhes: Quanto é o mínimo para investir naquela aplicação, qual é o rendimento mensal, quanto tempo é necessário deixar o dinheiro rendendo antes de tirar, quanto você pretende investir por mês.
            Mas, a primeira coisa que você precisa saber é: NÃO INVISTA NA POUPANÇA! 
            </p>
        </div>

        <div id="conteudo2" style="text-align: center; padding: 0 3% 0 3%;">
            <h1>Por onde começo a investir?</h1>
            <img width="500" height="300" src="conteudo32.png" alt="Indepencia financeira" class="img-thumbnail" style="margin: 1% 0 3% 0;">
            <p style="text-align: justify;">Nossa, mas é tão segura, nunca vi ninguém perder dinheiro investindo na poupança... Só uma coisa: PARA! A poupança, além de render muito pouco, tem ficado par a par com a inflação (E você quer algo que fique sempre acima) e é extremamente variável. 
            Para quem guarda dinheiro na poupança, em março de 2017, só recebeu 1,86% do quanto tinha investido. E isso é bem pouco. E para quem diz que nunca viu ninguém perdendo dinheiro com a poupança, só observa essa tabela.
            Para quem tinha dinheiro em 2015 na poupança, ao resgatar a pessoa perdeu 2,28% do seu dinheiro, isso porque a poupança ficou abaixo da inflação, ou seja, a pessoa PERDEU SIM dinheiro!
            Mas, se a poupança não é segura, o que eu faço?
            </p>
            <a href="conteudo4.html" type="button" class="btn btn-default btn-info" style="background: #337ab7;">Próximo tópico >></a>
        </div>

        <nav aria-label="Page navigation" style="text-align: center;">
          <ul class="pagination">
            <li id="\<">
              <a href="#" aria-label="Previous" onclick="prev();">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li id="1" class="active"><a id="1" href="#" onclick="pageChange($(this)[0].id);">1</a></li>
            <li id="2"><a id="2" href="#" onclick="pageChange($(this)[0].id);">2</a></li>
            <li id="\>">
              <a href="#" aria-label="Next" onclick="next();">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
    </div>

    <div class="col-lg-12" style="position: absolute; bottom: 0;"><hr></div>
    <div id="fixed"><button type="button" class="btn btn-default btn-circle" data-toggle="modal" data-target="#myModal"><i class="fa fa-question"></i></button></div>
    <div id="ajuda"></div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">AJUDA</h4>
                </div>
                <div class="modal-body">
                    Esta é a área de conteúdo do curso. Você pode navegar entre o conteúdo deste capítulo pelas
                    setas de navegação '<' e '>'.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="metismenu-master/src/metisMenu.js"></script>
    <script type="text/javascript" src="carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
    <script type="text/javascript">
        pageChange("1");

        $(function() {
            $('#menu').metisMenu();

            if($.cookie('ck1') != undefined) {
                $('#ck1').removeClass("fa-circle-o");
                $('#ck1').addClass("fa-check-circle");
            }
            if($.cookie('ck2') != undefined) {
                $('#ck2').removeClass("fa-circle-o");
                $('#ck2').addClass("fa-check-circle");
            }
            if($.cookie('ck3') != undefined) {
                $('#ck3').removeClass("fa-circle-o");
                $('#ck3').addClass("fa-check-circle");
            }
            if($.cookie('ck4') != undefined) {
                $('#ck4').removeClass("fa-circle-o");
                $('#ck4').addClass("fa-check-circle");
            }
            if($.cookie('ck5') != undefined) {
                $('#ck5').removeClass("fa-circle-o");
                $('#ck5').addClass("fa-check-circle");
            }
            if($.cookie('ck6') != undefined) {
                $('#ck6').removeClass("fa-circle-o");
                $('#ck6').addClass("fa-check-circle");
            }
        });

        function pageChange(clicked) {
            $('.pagination li').each(function() {
                if($(this)[0].id != '<' && $(this)[0].id != '>') {
                    if($(this)[0].id == clicked) {
                        $(this).addClass("active");
                        $('#conteudo' + clicked).show();
                    } else {
                        $(this).removeClass("active");
                        $('#conteudo' + $(this)[0].id).hide();
                    }
                }
            });
            if(clicked == '2') {
                $.cookie('ck3', '1');
            }
        }

        function prev() {
            var clicked;
            $('.pagination li').each(function() {
                if($(this)[0].className == "active") {
                    clicked = $(this)[0].id;
                }
            });
            if(parseInt(clicked) - 1 > 0) {
                pageChange(parseInt(clicked) - 1);
            }
        }

        function next() {
            var clicked;
            $('.pagination li').each(function() {
                if($(this)[0].className == "active") {
                    clicked = $(this)[0].id;
                }
            });
            if(parseInt(clicked) + 1 < 3) {
                pageChange(parseInt(clicked) + 1);
            }
        }
    </script>
</body>
</html>