<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>As opções de investimentos (seguras e tranquilas)</title>

    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="metismenu-master/src/metisMenu.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="mm-vertical.css">
</head>
<body>
    <nav class="navbar navbar-default" style="margin-bottom: 0;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="principal.html" style="color: black;">
                    <i class="fa fa-money" aria-hidden="true"></i>Ergonomia
                </a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a href="principal.html" style="color: black;">
                        <i class="fa fa-home fa-2x"></i>
                    </a>
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
        </div><!-- /.container-fluid -->
    </nav>
    
    <ul class="metismenu col-lg-3" id="menu">
        <li>
          <a href="#" aria-expanded="false" class="panel panel-default nover">1 - Introdução<span class="glyphicon arrow"></span></a>
          <ul aria-expanded="false">
            <li><a href="conteudo.html" class="panel panel-default nohor">O que é ser indepenente financeiramente?<span id="ck1" style="float: right;" class="fa fa-circle-o"></span></a></li>
            <li><a href="conteudo2.html" class="panel panel-default nohor">Quem são os juros compostos<span id="ck2"  style="float: right;" class="fa fa-circle-o"></span></a></li>
          </ul>
        </li>
        <li class="active">
          <a href="#" aria-expanded="false" class="panel panel-default nover">2 - Quero enriquecer<span class="glyphicon arrow"></span></a>
          <ul aria-expanded="false">
            <li><a href="conteudo3.html" class="panel panel-default nohor">Por onde começo a investir?<span id="ck3"  style="float: right;" class="fa fa-circle-o"></span></a></li>
            <li><a href="conteudo4.html" class="panel panel-default nohor">As opções de investimentos (seguras e tranquilas)<span id="ck4"  style="float: right;" class="fa fa-circle"></span></a></li>
          </ul>
        </li>
        <li>
          <a href="conteudo5.html" aria-expanded="false" class="panel panel-default nover">3 - Lugares para investir, maneiras de se organizar<span id="ck5"  style="float: right;" class="fa fa-circle-o"></span></a>
        </li>
        <li>
          <a href="exercicios.html" aria-expanded="false" class="panel panel-default nover">4 - Exercícios<span id="ck6"  style="float: right;" class="fa fa-circle-o"></span></a>
        </li>
        <li>
          <a href="conclusão.html" aria-expanded="false" class="panel panel-default nover">5 - Conclusão</a>
        </li>
    </ul>
    
    <div id="page-wrapper">
    <div class="col-lg-9" style="text-align: center;">
        <div id="conteudo1" style="text-align: center; padding: 0 3% 0 3%;">
            <h1>As opções de investimentos (seguras e tranquilas)</h1>
            <img width="500" height="300" src="conteudo41.jpg" alt="Indepencia financeira" class="img-thumbnail" style="margin: 1% 0 3% 0;">
            <p style="text-align: justify;">Há diversas aplicações onde você pode investir o seu dinheiro, mas você só saberá qual a melhor opção após estudar muito e entender esse mundo dos negócios financeiros (Que é bem divertido de estudar).<br>
Mas, vou te passar algumas aplicações em que você pode investir sem medo e que irão render mais do que a poupança, ou seja, ao final você vai ter bem mais dinheiro do que se tivesse deixado seu dinheiro largado lá naquela conta que não rende mais do que a inflação! 
            </p>
        </div>

        <div id="conteudo2" style="text-align: center; padding: 0 3% 0 3%;">
            <h1>LCI e LCA</h1>
            <p style="text-align: justify;">Vamos começar a entender essas siglas. LCI significa Letra de Crédito Imobiliário, enquanto que LCA significa Letra de Crédito do Agronegócio.
O que elas fazem? Elas, basicamente, são lançadas pelos bancos e vão servir como empréstimo para o setor agrário e imobiliário. 
Empréstimo? Para bancos? Exatamente! O que tanto assusta os brasileiros, que são os juros dos empréstimos, irão funcionar a seu favor a partir de agora. Ao invés de você chegar e pedir um empréstimo ao banco, na verdade você irá emprestar dinheiro ao banco e depois terá esse seu dinheiro devolvido e com os juros que você merece! Parece que o jogo virou, não é mesmo?
As LCI e LCA são seguras, ninguém vai “roubar” seu dinheiro e nunca mais você verá ele. Relaxe. É um investimento seguro e você ainda vai poder dizer que você “Empresta dinheiro para o banco”, muito chique, não?<br>
PONTOS POSITIVOS: Não precisam ser declaradas no Imposto de Renda, são rendas fixas, e possuem rentabilidade garantida em torno dos 14% ao ano, contra 7% da poupança!<br>
PONTOS NEGATIVOS: É necessário escolher um prazo de quando você irá retirar o seu dinheiro e antes desse prazo, não é possível movimentar esse dinheiro. Ou seja, se você escolher uma aplicação com prazo de vencimento para 12/10/2019, você só poderá retirar esse dinheiro quando estiver no dia 12/10/2019

            </p>
        </div>

        <div id="conteudo3" style="text-align: center; padding: 0 3% 0 3%;">
            <h1>Tesouro direto</h1>
            <p style="text-align: justify;">Considerado o queridinho dos especialistas em finanças, é a sua oportunidade de emprestar dinheiro para o governo e ainda receber de volta com juros e correção! É muita riqueza, não?<br>
PONTOS POSITIVOS: Não precisa de muito para investir, o mínimo é R$50,00!
Está protegido contra a inflação! Você não vai perder dinheiro.
A rentabilidade está bem acima da poupança.
Não tem prazo mínimo para tirar o dinheiro, pode tirar quando quiser! (Mas, cuidado, não vale a pena colocar em um dia e tirar depois de dois dias, você estará perdendo a oportunidade de ganhar dinheiro. Se planeje e só invista o que você não vai precisar mexer tão cedo).<br>
PONTOS NEGATIVOS: O prazo para mexer no dinheiro vai depender do título em que você vai investir, por isso, preste atenção nos prazos antes de investir no título.
Paga imposto de renda sobre a rentabilidade (Mas, é só sobre o quanto rendeu, não sobre o total de dinheiro que você tem. Por exemplo, se você tem R$ 2000,00 investidos, e ele rendeu 300,00 em 3 anos, você só pagará o imposto encima dos R$300,00).
A melhor forma de investir no tesouro direto é estudando as possibilidades e modalidades disponíveis.
            </p>
            <a href="conteudo5.html" type="button" class="btn btn-default btn-info" style="background: #337ab7;">Próximo capítulo >></a>
        </div>

        <nav aria-label="Page navigation" style="text-align: center;">
          <ul class="pagination">
            <li id="\<">
              <a href="#" aria-label="Previous" onclick="prev();">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li id="1" class="active"><a id="1" href="#" onclick="pageChange($(this)[0].id);">1</a></li>
            <li id="2"><a id="2" href="#" onclick="pageChange($(this)[0].id);">2</a></li>
            <li id="3"><a id="3" href="#" onclick="pageChange($(this)[0].id);">3</a></li>
            <li id="\>">
              <a href="#" aria-label="Next" onclick="next();">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
    </div>

    <div class="col-lg-12" style="position: absolute; bottom: -20%;"><hr></div>
    <div id="fixed"><button type="button" class="btn btn-default btn-circle" data-toggle="modal" data-target="#myModal"><i class="fa fa-question"></i></button></div>
    <div id="ajuda"></div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">AJUDA</h4>
                </div>
                <div class="modal-body">
                    Esta é a área de conteúdo do curso. Você pode navegar entre o conteúdo deste capítulo pelas
                    setas de navegação '<' e '>'.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="metismenu-master/src/metisMenu.js"></script>
    <script type="text/javascript" src="carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
    <script type="text/javascript">
        pageChange("1");

        $(function() {
            $('#menu').metisMenu();

            if($.cookie('ck1') != undefined) {
                $('#ck1').removeClass("fa-circle-o");
                $('#ck1').addClass("fa-check-circle");
            }
            if($.cookie('ck2') != undefined) {
                $('#ck2').removeClass("fa-circle-o");
                $('#ck2').addClass("fa-check-circle");
            }
            if($.cookie('ck3') != undefined) {
                $('#ck3').removeClass("fa-circle-o");
                $('#ck3').addClass("fa-check-circle");
            }
            if($.cookie('ck4') != undefined) {
                $('#ck4').removeClass("fa-circle-o");
                $('#ck4').addClass("fa-check-circle");
            }
            if($.cookie('ck5') != undefined) {
                $('#ck5').removeClass("fa-circle-o");
                $('#ck5').addClass("fa-check-circle");
            }
            if($.cookie('ck6') != undefined) {
                $('#ck6').removeClass("fa-circle-o");
                $('#ck6').addClass("fa-check-circle");
            }
        });

        function pageChange(clicked) {
            $('.pagination li').each(function() {
                if($(this)[0].id != '<' && $(this)[0].id != '>') {
                    if($(this)[0].id == clicked) {
                        $(this).addClass("active");
                        $('#conteudo' + clicked).show();
                    } else {
                        $(this).removeClass("active");
                        $('#conteudo' + $(this)[0].id).hide();
                    }
                }
            });
            if(clicked == '3') {
                $.cookie('ck4', '1');
            }
        }

        function prev() {
            var clicked;
            $('.pagination li').each(function() {
                if($(this)[0].className == "active") {
                    clicked = $(this)[0].id;
                }
            });
            if(parseInt(clicked) - 1 > 0) {
                pageChange(parseInt(clicked) - 1);
            }
        }

        function next() {
            var clicked;
            $('.pagination li').each(function() {
                if($(this)[0].className == "active") {
                    clicked = $(this)[0].id;
                }
            });
            if(parseInt(clicked) + 1 < 4) {
                pageChange(parseInt(clicked) + 1);
            }
        }
    </script>
</body>
</html>