<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Principal</title>

    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="metismenu-master/src/metisMenu.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="mm-vertical.css">
</head>
<body>
    <nav class="navbar navbar-default" style="margin-bottom: 0;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="principal.html" style="color: black;">
                    <i class="fa fa-money" aria-hidden="true"></i>Ergonomia
                </a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="page-wrapper">
        <div style="text-align: center; margin-bottom: 5%;">
            <h1>Finanças Pessoais</h1>
            <img src="principal.jpg" alt="Finanças pessoais" class="img-thumbnail" style="margin: 1% 0 3% 0;">
            <p style="text-align: justify; margin: 0 15% 0 15%;">Bem vindo ao curso de introdução a finanças pessoais, o curso que visa passar conceitos sobre educação financeira, ensinando de um jeito simples e prático o participante a administrar suas finanças pessoais.</p><br>
            <p style="text-align: justify; margin: 0 15% 0 15%;">Se ao pensar em cuidar do dinheiro a primeira coisa que vem na sua mente é deixar de fazer tudo que gosta, ficar trancado em casa assistindo Youtube e vivendo só de “pão e água”, esse curso irá te ajudar quebrar esses paradigmas e perceber que para ser independente financeiramente não é necessária tanta punição assim (Só um pouquinho de organização e estudo)!
            E aí, quer fazer o dinheiro trabalhar para você? Vamos lá!
            </p><br>
            <p style="text-align: justify; margin: 0 15% 0 15%;">O curso tem duração média de 15 minutos, incluindo a desmontração e explicação de conceitos importantes através de várias midias como audios e videos, até uma avaliação final que analisa se o conteúdo passado foi absorvido pelo participante.</p><br>
            <p style="text-align: justify; margin: 0 15% 0 15%;">O público alvo para este curso, são pessoas que estão ingressando no mercado de trabalho, e não tem consciência do que fazer com o dinheiro que ganham, logo, o participante do curso apreenderá como gerenciar e aplicar esse dinheiro de forma mais consciente para obter uma melhor qualidade de vida e alcançar seus objetivos. Mais específicamente, o nosso público alvo são jovens entre 16~25 anos que estão ingressando no mercado financeiro, que ao estarem ingressando numa vida adulta estão tendo que lidar com situações financeiras adversas, e por isso, nosso curso é de grande valia para orientá-los e deixá-los curiosos para a busca de novos conhecimentos na área.</p><br>
            <p style="text-align: justify; margin: 0 15% 0 15%;">Você pode iniciar o curso através do menu abaixo. É recomendado começar pelo primeiro tópico, mas sinta-se a vontade para começar em outro tópico caso já tenha iniciado o curso.</p>
        </div>

        <div class="col-lg-3">
        </div>
        <div style="margin: auto;">
            <ul class="metismenu col-lg-6" id="menu">
                <li>
                  <a href="#" aria-expanded="false" class="panel panel-default nover">1 - Introdução<span class="glyphicon arrow"></span></a>
                  <ul aria-expanded="false">
                    <li><a href="conteudo.html" class="panel panel-default nohor">O que é ser indepenente financeiramente?<span id="ck1" style="float: right;" class="fa fa-circle-o"></span></a></li>
                    <li><a href="conteudo2.html" class="panel panel-default nohor">Quem são os juros compostos<span id="ck2"  style="float: right;" class="fa fa-circle-o"></span></a></li>
                  </ul>
                </li>
                <li>
                  <a href="#" aria-expanded="false" class="panel panel-default nover">2 - Quero enriquecer<span class="glyphicon arrow"></span></a>
                  <ul aria-expanded="false">
                    <li><a href="conteudo3.html" class="panel panel-default nohor">Por onde começo a investir?<span id="ck3"  style="float: right;" class="fa fa-circle-o"></span></a></li>
                    <li><a href="conteudo4.html" class="panel panel-default nohor">As opções de investimentos (seguras e tranquilas)<span id="ck4"  style="float: right;" class="fa fa-circle-o"></span></a></li>
                  </ul>
                </li>
                <li>
                  <a href="conteudo5.html" aria-expanded="false" class="panel panel-default nover">3 - Lugares para investir, maneiras de se organizar<span id="ck5"  style="float: right;" class="fa fa-circle-o"></span></a>
                </li>
                <li>
                  <a href="exercicios.html" aria-expanded="false" class="panel panel-default nover">4 - Exercícios<span id="ck6"  style="float: right;" class="fa fa-circle-o"></span></a>
                </li>
                <li>
                  <a href="conclusão.html" aria-expanded="false" class="panel panel-default nover">5 - Conclusão</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-12"><hr></div>
    <div id="fixed"><button type="button" class="btn btn-default btn-circle" data-toggle="modal" data-target="#myModal"><i class="fa fa-question"></i></button></div>
    <div id="ajuda"></div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">AJUDA</h4>
                </div>
                <div class="modal-body">
                    Este é a tela inicial do curso de introdução a finanças pessoais. Você pode através dessa tela iniciar
                    seu progresso no curso, ou, continuar de onde parou.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="metismenu-master/src/metisMenu.js"></script>
    <script type="text/javascript" src="carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#menu').metisMenu();

            if($.cookie('ck1') != undefined) {
                $('#ck1').removeClass("fa-circle-o");
                $('#ck1').addClass("fa-check-circle");
            }
            if($.cookie('ck2') != undefined) {
                $('#ck2').removeClass("fa-circle-o");
                $('#ck2').addClass("fa-check-circle");
            }
            if($.cookie('ck3') != undefined) {
                $('#ck3').removeClass("fa-circle-o");
                $('#ck3').addClass("fa-check-circle");
            }
            if($.cookie('ck4') != undefined) {
                $('#ck4').removeClass("fa-circle-o");
                $('#ck4').addClass("fa-check-circle");
            }
            if($.cookie('ck5') != undefined) {
                $('#ck5').removeClass("fa-circle-o");
                $('#ck5').addClass("fa-check-circle");
            }
            if($.cookie('ck6') != undefined) {
                $('#ck6').removeClass("fa-circle-o");
                $('#ck6').addClass("fa-check-circle");
            }
        });
    </script>
</body>
</html>